body {
    font-family: Arial, sans-serif;
    background-color: #eef2f0;
    margin: 0;
    padding: 20px;
}

form {
    background-color: #e5f0eb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form input {
    width: 60%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


form input:hover {
    background-color: #d5eae9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ea8fdc;
    color: white;
}

tr {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #5795e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
