body {
    font-family: Arial, sans-serif;
    background-color: #a1b4f0;
    margin: 0;
    padding: 20px;
}

form {
    background-color: #e4e6f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form input {
    width: 60%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #0c14e6;
    border-radius: 5px;
    box-sizing: border-box;
}


form input:hover {
    background-color: #bab5e7;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #4a3ac6;
    padding: 10px;
    text-align: left;
    
}

th {
    background-color: #11123d;
    color: white;
}

tr {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #827fbd;
}

a {
    color: #5795e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
