<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="number" placeholder="roll_no" name="roll_no" value="{{data.roll_no}}">
        <input type="text" placeholder="name" name="name" value="{{data.name}}">
        <input type="email" placeholder="email" name="email" value="{{data.email}}" >
        <input type="tel" placeholder="ph_no" name="ph_no" value="{{data.ph_no}}" >
        <input type="number" placeholder="registration_number" name="registration_number" value="{{data.registration_number}}" >
        <input type="text" placeholder="date_of_birth(YYYY-MM-DD)" name="date_of_birth" value="{{data.date_of_birth}}" >
        <input type="text" placeholder="address" name="address" value="{{data.address}}" >
        <input type="submit" value="Edit">
    </form>
    
</body>
</html>